.contact {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  position: relative;
  height: 80vh;
  padding-bottom: 15vh;
  padding-top: 5vh;
}

.contact h1 {
  color: white;
  font-size: 64px;
}

.contact-card {
  width: 50vw;
  border-radius: 20px;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  padding: 20px;
}

.form-group label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #ff7c1d;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="text"],
.form-group textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  color: white;
  background-color: #ff7c1d;
  font-family: "Inter";
  font-size: 18px;
  border: none;
  width: 180px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 30px;
  cursor: pointer;
}
.success-message {
  color: #ff7c1d;
  font-weight: normal;
  font-size: 20px;
}

@media (max-width: 768px) {
  .contact {
    height: auto; /* Remove fixed height */
    padding-top: 90px; /* Adjust top padding as needed */
  }

  .contact h1 {
    font-size: 40px; /* Reduce the font size for h1 on smaller screens */
    text-align: center; /* Center-align the title on smaller screens */
  }

  .contact-card {
    width: 90%; /* Adjust card width for smaller screens */
    padding: 10px; /* Adjust padding as needed */
  }

  .form-group label {
    font-size: 18px; /* Reduce label font size on smaller screens */
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="text"],
  .form-group textarea {
    width: 90%; /* Use full width for input fields on smaller screens */
    margin: 5px 0; /* Adjust margins to space input fields */
  }

  button {
    width: 100%; /* Use full width for the button on smaller screens */
  }
}
@media (min-width: 799px) and (max-width: 820px) {
  .contact h1 {
    font-size: 40px; /* Reduce the font size for h1 on smaller screens */
    text-align: center; /* Center-align the title on smaller screens */
  }

  .contact-card {
    width: 90%;
    height: auto;
    margin-bottom: 200px;
  }

  .form-group label {
    font-size: 28px;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="text"],
  .form-group textarea {
    width: 90%;
    margin: 5px 0;
  }

  button {
    width: 100%;
    margin-top: 20px;
  }
}
